{% extends 'base.html' %}
{% block title %}
{{ article.title }} | {{SITENAME}}
{% endblock %}

{% block meta %}
<meta name="og:title" content="{{article.title}}" />
<meta name="og:url" content="{{article.url}}" />
{% endblock %}

{% block content %}
<section class='article'>
  <article>
    <header>
      <!--<h2><a href="{{SITEURL}}/{{article.url}}" rel="bookmark">{{article.title}}</a></h2>-->
      <h1>{{article.title}}</h1>
      <time datetime="{{article.date.isoformat()}}"><span class="glyphicon glyphicon-calendar"></span>{{article.locale_date}}</time>
      <div class="reading-est">
        <span class="glyphicon glyphicon-time"></span>
        <span>{{ article.content|estimate_time }} read</span>
      </div>
      <div class="category">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>In <a class='category-link' href="{{SITEURL}}/{{article.category.url}}">{{article.category}}</a></span>
      </div>
    </header>
    <div class='content'>
    {{article.content}}
    </div>
    <footer>
      {% if article.tags|length %}
      <p>With {% for tag in article.tags %}<a href="{{SITEURL}}/{{tag.url}}">{{tag}}</a>{% if not loop.last %} / {% endif %}{% endfor %}</p>
      {% endif %}
    </footer>

  </footer>
</article>
</section>
{% endblock %}
