{% extends "base.html" %}
{% block title %} {{SITENAME}} - Liên hệ {% endblock %}
{% block content %}
<div class="row contact">
  {{ navigation.menu("lien-he") }}
  <div class="col-md-6 contact">
    <div class="info">
      <div class="image-block">
        <span class="title">Gác hoa cà phê</span>
        <p class='text'>
          <span class="special-text">Địa chỉ:</span> 92/17 Phạm Ngọc Thạch, Q3 <br>
          <span class="special-text">Điện thoại :</span> (08)-8421641 <br>
          <span class="special-text">Email :</span> gachoa@gmail.com <br>
          <span class="special-text">Giờ mở cửa :</span> 9:00 AM - 23:00 PM <br>
          <br>
          <span class="title">Like us on FB :</span><br>
          facebook.com/gachoacaphe <br><br>

          Gác hoa cà phê luôn mong muốn có thể
          nhận được các ý kiến của bạn về quán
          Hãy gọi điện thoại cho chúng tôi hoặc bạn
          có thể trực tiếp gửi phản hồi ngay bên cạnh.
        </p>
      </div>
    </div>
    <div class="labels">
      <span class="title email">Email</span>
      <span class="title topic">Chủ đề</span>
      <span class="title text">Nội dung</span>
    </div>
    <div class="feedback">
      <div class="image-block">
        <div class="oval">
          <input name="email">
        </div>
      </div>
      <div class="image-block">
        <div class="oval">
          <input name="topic">
        </div>
      </div>
      <div class="image-block big">
        <div class="oval big">
          <textarea name="comment"></textarea>
        </div>
      </div>

      <div class="buttons">
        <ul>
          <li class="button item item-clear"><a href="#">Xóa</a></li><!--
          --><li class="button item item-submit"><a href="#">Gửi</a></li>
        </ul>
      </button>
    </div>
  </div>
</div>
{% endblock %}
