{% extends "base.html" %}
{% block content %}
<div class="row flowers">
    {{ navigation.menu("goc-hoa") }}
  <div class="col-md-6 flowers">
    <div id="carousel-flowers" class="carousel slide carousel-flowers" data-ride="carousel" data-interval="">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="left big">
            <div class="image-block">
              <img class="small flowers" src="../theme/img/flowers/item1/1.jpg"/>
            </div>
          </div>
          <div class="middle small">
            <div class="image-block top">
              <img class="small flowers" src="../theme/img/flowers/item1/2.jpg"/>
            </div>
            <div class="image-block bottom">
              <img class="small flowers" src="../theme/img/flowers/item1/3.jpg"/>
            </div>
          </div>
          <div class="right small">
            <div class="text-block top">
              <div class='center'>
                <span class="title">Hoa giỏ</span>
              </div>
              <p class="text">
                Những giỏ hoa ở Gác hoa cafe được bày trí đa dạng với nhũng chiếc giỏ bằng tre nứa đậm chất, cùng những đoa hoa tươi được chọn lựa kỹ càng khéo léo tạo nên những giỏ hoa rất tinh tế.
              </p>
            </div>
            <div class="image-block bottom below-text">
              <img class="small flowers" src="../theme/img/flowers/item1/4.jpg"/>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="left small">
            <div class="text-block top">
              <div class='center'>
                <span class="title">Hoa bó</span>
              </div>
              <p class="text">
                Gác hoa là sự lựa chọn cho những ai muốn có những bó hoa được sắp xếp tỉ mẩn cùng những giấy gói cực xinh, những loài hoa đa dạng cho bạn lựa chọn.
              </p>
            </div>
            <div class="image-block bottom below-text">
              <img class="small flowers" src="../theme/img/flowers/item2/1.jpg"/>
            </div>
          </div>
          <div class="middle small">
            <div class="image-block top">
              <img class="small flowers" src="../theme/img/flowers/item2/2.jpg"/>
            </div>
            <div class="image-block bottom">
              <img class="small flowers" src="../theme/img/flowers/item2/3.jpg"/>
            </div>
          </div>
          <div class="right big">
            <div class="image-block">
              <img class="small flowers" src="../theme/img/flowers/item2/4.jpg"/>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="left big">
            <div class="image-block">
              <img class="small flowers" src="../theme/img/flowers/item3/1.jpg"/>
            </div>
          </div>
          <div class="middle small">
            <div class="text-block top">
              <div class='center'>
                <span class="title">Hoa bình</span>
              </div>
              <p class="text">
                Những bình hoa được cắm tinh tế, hài hòa và đẹp mắt như tôn lên vẻ đẹp cho không gian xung quanh, nhẹ nhàng và êm ái đến nao lòng.
              </p>
            </div>
            <div class="image-block bottom below-text">
              <img class="small flowers" src="../theme/img/flowers/item3/2.jpg"/>
            </div>
          </div>
          <div class="right small">
            <div class="image-block top">
              <img class="small flowers" src="../theme/img/flowers/item3/3.jpg"/>
            </div>
            <div class="image-block bottom">
              <img class="small flowers" src="../theme/img/flowers/item3/4.jpg"/>
            </div>
          </div>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-flowers" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-flowers" data-slide-to="1"></li>
        <li data-target="#carousel-flowers" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
