{% extends "base.html" %}
{% block content %}
<div class="row flowers">
    {{ navigation.menu("goc-hoa") }}
  <div class="col-md-6 flowers">
    <div id="carousel-flowers" class="carousel slide carousel-flowers" data-ride="carousel" data-interval="">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="left big">
            <div class="image-block">
            </div>
          </div>
          <div class="middle small">
            <div class="image-block top">
            </div>
            <div class="image-block bottom">
            </div>
          </div>
          <div class="right small">
            <div class="text-block top">
              <div class='center'>
                <span class="title">Hoa giỏ</span>
              </div>
              <p class="text">
                Những giỏ hoa ở Gác hoa cafe được bày trí đa dạng với nhũng chiếc giỏ bằng tre nứa đậm chất, cùng những đoa hoa tươi được chọn lựa kỹ càng khéo léo tạo nên những giỏ hoa rất tinh tế.
              </p>
            </div>
            <div class="image-block bottom below-text">
            </div>
          </div>
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-flowers" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-flowers" data-slide-to="1"></li>
        <li data-target="#carousel-flowers" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
