{% extends "base.html" %}
{% block content %}
<div class="row intro">
  {{ navigation.menu("gioi-thieu") }}
  <div class="col-md-6 intro-body">
  {{ navigation.submenu("gioi-thieu") }}
    <div id="carousel-intro" class="carousel slide" data-ride="carousel" data-interval="">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="intro-content">
            <div class="intro-image">
                <img class="big flowers" src="../theme/img/intro/1.jpg"/>
            </div>
            <div class="intro-text">
              <div class="text-block">
                <span class="title">Ngày thành lập</span>
                <p class='text'>
                  Có người thích cái bình dân, vỉa hè nhưng cũng không ít các  tín đồ cafe chuộng những khung cảnh mới lạ, sang trọng, những không gian sáng tạo và nhẹ nhàng thư giãn. Đáp ứng tiêu chí đó, Gác hoa cafe như trở thành một nơi khó quên khi đặt chân đến đây dù chỉ một lần.
                  <br/>
                  Gác hoa cafe được ra đời vào ngày 20/1/2007. Tọa lạc trong một con hẻm yên tĩnh thanh bình ngay trung tâm thành phố.
                </p>
              </div>
              <div class="text-block">
                <span class="title">Đôi lời về Gác Hoa</span>
                <p class='text'>
                  Bước qua vòm cổng, bạn cảm nhận được sự bình yên, cách xa với khói bụi ồn ào của phố thị. Khung cảnh nhẹ nhàng ấm cúng của quán mở ra trước mắt, vẻ bình yên nên thơ của Gác hoa khiến bạn cảm giác như đang lạc vào một thế giới khác với hoa tươi và nhạc êm dịu .Phía bên trái quán là một góc nhỏ với hoa tươi và những món đồ décor siêu dễ thương. Không gian Gác hoa ấm cúng với những bộ bàn ghế mang phong cách cổ điển.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="intro-content">
            <div class="intro-image no-background">
              <div class="image-block">
                <img class="small flowers" src="../theme/img/intro/2.jpg"/>
              </div>
              <div class="image-block">
                <img class="small flowers" src="../theme/img/intro/3.jpg"/>
              </div>
            </div>
            <div class="intro-text">
              <div class="text-block">
                <p class='text'>
                  <br>
                  Gác Hoa Café được sáng tạo như một không gian nghệ thuật phổ thông dành cho những tâm hồn lãng mạn, trong sáng.
                  <br>
                  <br>
                  Không gian ấm áp, nhẹ nhàng, các chi tiết mỹ thuật được sắp xếp, kỹ lưỡng, chi tiết và đồng bộ tạo nên một khung cảnh đẹp, là nơi lưu giữ những khoảnh khắc riêng cho bạn.
                  <br>
                  <br>
                  Âm nhạc hòa tấu cổ điển, nhẹ nhàng khiến tâm hồn thư thái. Là một góc nhỏ để bạn có thể "trốn" cái náo nhiệt, ồn ào và căng thẳng.
                  <br>
                  <br>
                  Nếu quý khách cần một buổi hẹn lãng mạn tại Gác Hoa cafe có thể gọi để đặt chỗ hoặc những yêu cầu trang trí đặc biệt đến từng chi tiết.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-intro" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-intro" data-slide-to="1"></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
