{% extends "base.html" %}
{% block content %}
<div class="row menu">
  <div class="main-navigation col-md-2">
    <img src="../theme/img/main_navigation/logo.png" alt="Logo"/>
    <ul >
      <li class="button item1"><a>Giới Thiệu</a></li><!--
      --><li class="button item2"><a>Góc Hoa</a></li><!--
      --><li class="button item3"><a>Thực Đơn</a></li><!--
      --><li class="button item4"><a>Sự Kiện</a></li><!--
      --><li class="button item5"><a>Ưu  Đãi</a></li><!--
      --><li class="button item6"><a>Liên Hệ</a></li>
    </ul>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
