{% extends "base.html" %}
{% block content %}
<div class="row menu">
  {{ navigation.menu("thuc-don") }}
  <div class="col-md-3 menu-list">
    <table class="mon-nuoc menu-table">
      <thead>
        <tr>
          <td class="left">Món nước</td>
          <td class="right">Giá</td>
        </tr>
      </thead>
      <tbody>
        <tr data-img="cafe-mocha.jpg">
          <td class="left"><a href="#">Cafe Mocha</a></td>
          <td class="right"><a href="#">50.000 VND</a></td>
        </tr>
        <tr data-img="capuchino.jpg">
          <td class="left"><a href="#">Capuchino</a></td>
          <td class="right"><a href="#">55.000 VND</a></td>
        </tr>
        <tr data-img="cacao-nong.jpg">
          <td class="left"><a href="#">Cacao nóng</a></td>
          <td class="right"><a href="#">40.000 VND</a></td>
        </tr>
        <tr data-img="yaourt-trai-cay.png">
          <td class="left"><a href="#">Yaourt trái cây</a></td>
          <td class="right"><a href="#">35.000 VND</a></td>
        </tr>
        <tr data-img="cafe-sua.jpg">
          <td class="left"><a href="#">Cafe sữa</a></td>
          <td class="right"><a href="#">30.000 VND</a></td>
        </tr>
        <tr data-img="cafe-den.jpg">
          <td class="left"><a href="#">Cafe đen</a></td>
          <td class="right"><a href="#">20.000 VND</a></td>
        </tr>
        <tr data-img="sinh-to.jpg">
          <td class="left"><a href="#">Sinh tố trái cây</a></td>
          <td class="right"><a href="#">25.000 VND</a></td>
        </tr>
        <tr data-img="tra-hoa-cuc.jpg">
          <td class="left"><a href="#">Trà hoa cúc</a></td>
          <td class="right"><a href="#">35.000 VND</a></td>
        </tr>
      </tbody>
    </table>
    <table class="mon-banh menu-table">
      <thead>
        <tr>
          <td class="left" col="2">Món bánh</td>
        </tr>
      </thead>
      <tbody>
        <tr data-img="cupcake.jpg">
          <td class="left"><a href="#">Cupcake</a></td>
          <td class="right"><a href="#">30.000 VND</a></td>
        </tr>
        <tr data-img="banh-su-kem.jpg">
          <td class="left"><a href="#">Bánh su kem</a></td>
          <td class="right"><a href="#">30.000 VND</a></td>
        </tr>
        <tr data-img="banh-flan.jpg">
          <td class="left"><a href="#">Bánh flan</a></td>
          <td class="right"><a href="#">20.000 VND</a></td>
        </tr>
        <tr data-img="banh-kem.jpg">
          <td class="left"><a href="#">Bánh kem</a></td>
          <td class="right"><a href="#">35.000 VND</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="disk-frame">
      <img class="disk" src="../theme/img/menu/coffee-beans.jpg"/>
      <img class="waiting" src="../theme/img/processing.gif"/>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
