{% macro menu(item) -%}
<div class="main-navigation col-md-2">
  <img class="logo" src="../theme/img/main_navigation/logo.png" alt="Logo"/>
  <ul >
    <li class="button item1 {{ 'selected' if item == 'gioi-thieu' }}"><a href="../gioi-thieu">Giới Thiệu</a></li><!--
    --><li class="button item2 {{ 'selected' if item == 'goc-hoa' }}"><a href="../goc-hoa">Góc Hoa</a></li><!--
    --><li class="button item3 {{ 'selected' if item == 'thuc-don' }}"><a href="../menu">Thực Đơn</a></li><!--
    --><li class="button item4 {{ 'selected' if item == 'su-kien' }}"><a href="../su-kien">Sự Kiện</a></li><!--
    --><li class="button item5 {{ 'selected' if item == 'uu-dai' }}"><a href="../uu-dai">Ưu Đãi</a></li><!--
    --><li class="button item6 {{ 'selected' if item == 'lien-he' }}"><a href="../lien-he">Liên Hệ</a></li>
  </ul>
</div>
{%- endmacro %}

{% macro submenu(item) -%}
<div class="submenu">
  <ul>
    <li class="button item1 {{ 'selected' if item == 'gioi-thieu' }}"><a href="../gioi-thieu">Kỷ niệm</a></li>
  </ul>
  <ul class="right">
    <li class="button item2 {{ 'selected' if item == 'gallery' }} "><a href="../">Gallery</a></li><!--
    --><li class="button item3 {{ 'selected' if item == 'tang1' }}"><a href="../gioi-thieu">Tầng 1</a></li><!--
    --><li class="button item4 {{ 'selected' if item == 'tang2' }}"><a href="../gioi-thieu">Tầng 2</a></li>
  </ul>
</div>
{%- endmacro %}
