{% extends "base.html" %}
{% block title %} {{SITENAME}} - Ưu đãi {% endblock %}
{% block content %}
<div class="row promotion">
    {{ navigation.menu("uu-dai") }}
  <div class="col-md-6 promotion">
    <div id="carousel-promotion" class="carousel slide carousel-promotion" data-ride="carousel" data-interval="">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="content">
            <div class="content-title">
              <p class="text">Chương trình</p>
              <span class="title">Love's combo: Quà tặng bất ngờ ngày Valentine</span>
            </div>
            <div class="content-body">
              <div class="left">
                <div class="inner-left">
                  <p class="text">Bàn dành cho</p>
                </div>
                <span class="title">2</span>
                <div class="inner-right">
                  <span class="special-text">người</span>
                  <span class="special-text">thức uống</span>
                </div>
              </div>
              <div class="right">
                <p class="text">
                  Đặc biệt tặng <span class="special-text">1 bó Hoa tươi (hoa Lavender) và 1 bánh Rose Cake</span> cho các cặp đôi đến quán 
                  vào ngày <span class="special-text">14/2</span> chỉ với giá <span class="special-text">300k</span>
                </p>
              </div>
            </div>
            <div class="content-footer">
              <p class='text'>
                Bạn cũng có thể đặt trước từ bây giờ, hãy gọi <span class="special-text">(08 - 8421641)</span> hoặc gửi email <span class="special-text">(gachoacaphe@gmail.com)</span> cho chúng tôi để biết thêm chi tiết, thông tin cũng như cách thức đặt bàn.
                <br>
                <span class="special-text">Gác hoa cà phê</span> hy vọng sẽ mang đến cho những cặp đôi một ngày valentine ngọt ngào và hạnh phúc nhất!!!
              </p>
            </div>
          </div>
          <div class="images">
            <div class="image-block left">
              <img class="small flowers" src="../theme/img/promotion/item1/1.jpg"/>
            </div>
            <div class="image-block right">
              <img class="small flowers" src="../theme/img/promotion/item1/2.jpg"/>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="content-title">
              <p class="text">Chương trình</p>
              <span class="title">Mừng Ngày quốc tế phụ nữ 8/3</span>
            </div>
            <div class="content-body">
              <div class="left">
                <div class="inner-left">
                  <p class="text">Bàn dành cho</p>
                </div>
                <span class="title">3</span>
                <div class="inner-right">
                  <span class="special-text">người</span>
                  <span class="special-text">thức uống</span>
                </div>
              </div>
              <div class="right">
                <p class="text">
                  Đặc biệt tặng <span class="special-text">1 bó Blue rose hoặc Red rose</span> cho các khách hàng nữ đến quán
                  vào ngày <span class="special-text">14/2</span> chỉ với giá <span class="special-text">300k</span>
                </p>
              </div>
            </div>
            <div class="content-footer">
              <p class='text'>
                Bạn cũng có thể đặt trước từ bây giờ, hãy gọi <span class="special-text">(08 - 8421641)</span> hoặc gửi email <span class="special-text">(gachoacaphe@gmail.com)</span> cho chúng tôi để biết thêm chi tiết, thông tin cũng như cách thức đặt bàn.
                <br>
                <span class="special-text">Gác hoa cà phê</span> hy vọng sẽ mang đến cho những nguofi phụ nữ thương yêu một ngày 8/3 thật trọn vẹn!!!
              </p>
            </div>
          </div>
          <div class="images">
            <div class="image-block left">
              <img class="small flowers" src="../theme/img/promotion/item2/1.jpg"/>
            </div>
            <div class="image-block right">
              <img class="small flowers" src="../theme/img/promotion/item2/2.jpg"/>
            </div>
          </div>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-promotion" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-promotion" data-slide-to="1"></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
