section.article article {
  //font-family: 'Comfortaa';
  header {
    margin-bottom: 55px;
    time, .reading-est, .category, .category-link {
      font-size: 12pt;
      color: #b3b3b1;
      display: inline;
    }

    .reading-est, .category {
      margin-left: 55px;
    }
  }
  div.content {
    font-weight: 300;
    font-size: 16pt;
    letter-spacing: 0.1rem;
    p.caption {
      font-size: 11pt;
      text-align: center;
    }
    a {
      text-decoration: underline;
    }
    a.footnote-reference {
      text-decoration: none;
    }
    pre {
      letter-spacing: 0;
    }
  }

  footer {
    margin-top: 30px;
    p, a {
      font-size: 11pt;
      color: #b3b3b1;
    }
  }
}
