div.timeline {
  ul.posts {
    list-style: none;
    li.post {
      h3.title {
        p {
          color: #262626;
          font-weight: 700;
        }
      }
      margin-bottom: 3em;
      a.snippet {
        color: #666665;
        font-weight: 300;
      }
      ul.meta, a.tag, a.category {
        padding-left: 0;
        list-style: none;
        font-size: 11pt;
        color: #b3b3b1;
      }
    }
  }
}

