.row.menu {
  background-image: url('../img/menu/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .menu-list {
    margin-left: 60px;
    margin-top: 117px;
    font-size: 9pt;
    table {
      font-family: 'Calibri';
      margin-bottom: 9px;
      width: 216px;

      .left {
        float: left;
      }

      .right {
        float: right;
      }
      thead {
        font-family: 'GulyesaScript';
        font-size: 15pt;
        color: #E34F26;
      }

      tbody {
        line-height: 1.28;
        tr {
          &:hover {
            a {
              color: #E34F26;
            }
          }
        }
      }
    }
  }

  .disk-frame {
    margin-top: 140px;
    margin-left: 40px;
    width: 230px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../img/landscape-frame.png');
    img {
      width: 200px;
      height: 188px;
      margin: 18px 18px;
      &.waiting {
        display: none;
        //background: url('../img/processing.gif');
      }
    }
  }
}
