.row.menu {
  background-image: url('../img/menu/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .main-navigation {
    padding-left: 0;
  }

  ul {
    list-style: none;
    text-align:center;

    li.button {
      display: block;
      background-repeat: no-repeat;
      background-size: auto auto;
      background-image: url('../img/main_navigation/short-button.png');
      width: 127px;
      height: 75px;
      line-height: 115px;
      vertical-align: middle;
      overflow: hidden;
      background-position: top 0%;
      left: 28px;
      position: absolute;
      color: #E34F26;

      &.item1 {
        $top: 50px;
        top: $top;
        left: 30px;
        width: 121px;
        height: 112px;
        background-image: url('../img/main_navigation/high-button.png');
        line-height: 175px;
        &:hover {
          top: $top - 2px;
        }
      }

      $item-up: 2px;
      $item-diff: 59px;
      $item2-top: 138px;
      $item3-top: $item2-top + 1 * $item-diff;
      $item4-top: $item2-top + 2 * $item-diff;
      $item5-top: $item2-top + 3 * $item-diff;
      $item6-top: $item2-top + 4 * $item-diff;

      &.item2 {
        top: $item2-top;
        &:hover {
          top: $item2-top - $item-up;
        }
      }

      // + 59px
      &.item3 {
        top: $item3-top;
        &:hover {
          top: $item3-top - $item-up;
        }
      }

      // + 59px
      &.item4 {
        top: $item4-top;
        &:hover {
          top: $item4-top - $item-up;
        }
      }

      &.item5 {
        top: $item5-top;
        &:hover {
          top: $item5-top - $item-up;
        }
      }

      &.item6 {
        top: $item6-top;
        &:hover {
          top: $item6-top - $item-up;
        }
      }

      &:hover, &.selected {
        cursor: pointer;
        a {
          color: #000000;
          cursor: pointer;
        }
      }

      a {
        font-family: 'GulyesaScript';
        font-size: 15pt;
        color: #E34F26;
      }
    }
  }

  .menu-list {
    margin-left: 60px;
    margin-top: 117px;
    font-size: 8.5pt;
    table {
      font-family: 'Calibri';
      margin-bottom: 9px;
      width: 210px;

      .left {
        float: left;
      }

      .right {
        float: right;
      }
      thead {
        font-family: 'GulyesaScript';
        font-size: 15pt;
        color: #E34F26;
      }

      tbody {
        line-height: 1.28;
        tr {
          &:hover {
            a {
              color: #E34F26;
            }
          }
        }
      }
    }
  }

  .disk-frame {
    margin-top: 140px;
    margin-left: 30px;
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../img/frame-1.png');
    img {
      width: 180px;
      height: 180px;
      margin: 23px 23px;
    }
  }
}
