.submenu {
  position: absolute;
  top: -3px;
  left: 0px;
  z-index: 2;

  ul.right {
    li {
      //display: block;
      left: 145px;
      &.item2 {
        top: -3px;
        z-index:3;
        &:hover, &.selected {
          top: -6px;
        }
      }

      &.item3 {
        display: none;
        top: 47px;
        z-index: 2;
        &:hover, &.selected {
          top: 44px;
        }
      }

      &.item4 {
        display: none;
        top: 97px;
        z-index: 1;
        &:hover, &.selected {
          top: 94px;
        }
      }
    }
  }

  ul {
    list-style: none;
    text-align:center;
    position: absolute;
    top: -3px;
    left: 0px;


    li.button {
      background-image: url('../img/main_navigation/short-button.png');
      display: inline-block;
      width: 127px;
      height: 75px;
      line-height: 115px;
      position: absolute;
      //top: -3px;
      &:hover, &.selected {
        cursor: pointer;
        top: -6px;
        a {
          color: #000000;
          cursor: pointer;
        }
      }

      &.item1 {
        left: 20px;
      }

      a {
        font-family: 'GulyesaScript';
        font-size: 15pt;
        color: #E34F26;
      }
    }
  }
}
