@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.eot');
  src: local('☺'), url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype'), url('../fonts/Calibri.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri_Bold';
  src: url('../fonts/Calibrib.eot');
  src: local('☺'), url('../fonts/Calibrib.woff') format('woff'), url('../fonts/Calibrib.ttf') format('truetype'), url('../fonts/Calibrib.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri_Italic';
  src: url('../fonts/Calibrii.eot');
  src: local('☺'), url('../fonts/Calibrii.woff') format('woff'), url('../fonts/Calibrii.ttf') format('truetype'), url('../fonts/Calibrii.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri_Light';
  src: url('../fonts/Calibril.eot');
  src: local('☺'), url('../fonts/Calibril.woff') format('woff'), url('../fonts/Calibril.ttf') format('truetype'), url('../fonts/Calibril.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri_Light_Italic';
  src: url('../fonts/Calibrili.eot');
  src: local('☺'), url('../fonts/Calibrili.woff') format('woff'), url('../fonts/Calibrili.ttf') format('truetype'), url('../fonts/Calibrili.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri_Z';
  src: url('../fonts/Calibriz.eot');
  src: local('☺'), url('../fonts/Calibriz.woff') format('woff'), url('../fonts/Calibriz.ttf') format('truetype'), url('../fonts/Calibriz.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GulyesaScript';
  src: url('../fonts/GulyesaScript.eot');
  src: local('☺'), url('../fonts/GulyesaScript.woff') format('woff'), url('../fonts/GulyesaScript.ttf') format('truetype'), url('../fonts/GulyesaScript.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
